*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box; /* to  avoid overall width- add width with the box*/
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #ccc;
    font-family: Arial;
    font-size: 13px;
    color: #333;
}

.wrapper{
 margin:  25px auto;
    width: 1000px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0 0 5px #333;
}
header{
    overflow: hidden;
    padding-bottom: 5px;
}

header .h-left{
float: left;
width: 300px
}

header .h-right{
  float: right;
    width: 680px;
    text-align: right;
}
header ul li {
    display: inline-block;
    padding-left: 20px;
}
header ul li:first-child{
    padding: 0;
}

header .h-right a {
color: #333;
}

header .h-right div{
    padding-top: 30px;
}

header .h-right div select{
    border: 0;
    margin-right: 20px;
    width: 100px;
}
header .h-right div a{
    color: blue;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}
nav{
    background-color: #0044cc;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
nav ul{
    overflow: hidden;
}
nav ul li{
    float: left;
    border-right: 1px solid white;
}
nav ul li.active{
    background-color: black;
}
nav ul li a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-transform: capitalize;
}
.search-main{
    background-color: cadetblue;
    margin-top: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid black;
}
.search-main .search-left{
    float: left;
    width: 678px;
    padding: 5px;
}

.search-main .search-right{
    float: right;
    width: 300px;
    text-align: right;
}

.search-left select{
 height: 30px;
    width: 150px;
}

.search-left input[type="text"]{
    height: 30px;
    width: 300px;
}

.search-left button{
    height: 30px;
    background-color: dodgerblue;
    color: white;
    width: 70px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}
.search-left a{
 color: #666;
 margin-left: 10px;
}

.search-right a{
 text-decoration: underline;
    color: #666;
}
.search-right label{
    color: #666;
}
.search-right strong{

}
.search-right button{
background-color: orangered;
    color: white;
    border: 0;
    width: 80px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
}
.search-bar{
    border:  1px solid black;
    background-color: lightgray;
    text-align: center;
    padding: 5px;
    margin: 10px 0;
}
.search-bar label{
    font-weight: bold;
}

.search-bar select{
    height: 25px;
    width: 150px;
}

.search-bar input[type="text"] {
    height: 25px;
    width: 300px;
}

.search-bar button{
    height: 25px;
    width: 60px;
    background-color: dodgerblue;
    color: white;
    border: 0;
    cursor: pointer;
}

.rights{
    text-align: center;
}


/*main area*/

main{
    overflow: hidden;
    padding: 10px 0;
}

main aside{
    float: left;
    width:200px;
}
main section{
    float: left;
    width:580px;
    padding: 0 10px;
}

main .box-menu{
    border:1px solid #999;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;
}

main .box-menu h2{
background: #333;
    color: #FFF;
    border-bottom:1px solid #999;
    font-size: 14px;
    padding: 10px;
}
main .box-menu > div{
    background: #CCCCCC;
    /*padding: 10px;*/
}
aside .category-menu{
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}
aside .category-menu h2{
    background-color: darkslategrey;
    color: white;
    padding: 10px;
    font-size: 14px;
}

aside .category-menu ul li{
    padding: 8px;
    background-color: aliceblue;
    margin: 2px 0;
    font-weight: bold;
    font-size: 14px;
}

aside .seller-menu ul li{
    padding: 8px;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 14px;
}


aside .info-menu ul{
    padding: 8px;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 14px;
}

aside .info-menu ul li{
    border-bottom: 1px dotted black;
    padding: 5px;
}

aside .info-menu ul li:last-child{
    border-bottom: none;
}

aside .site-menu {
    padding: 8px;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 14px;
}


aside .site-menu ul li{
    border-bottom: 1px dotted black;
    padding: 5px;
}


aside .site-menu ul li strong{
    display: block;
}

aside .site-menu ul li:last-child{
    border-bottom: none;
}

aside .account-menu{
    padding: 8px;
    background-color: aliceblue;

}

aside .account-menu .track{
    border: 1px solid black;
    margin: 12px 0 5px 0;
    background-color: cadetblue;
    padding: 5px;
}
aside .account-menu .track input[type="text"] {
    width: 115px;
    border: 1px solid black;
    height: 22px;
    margin-top: 5px;
}

aside .account-menu .track label{
    display: block;
}
aside .account-menu .track button {
    height: 22px;
    background-color: dodgerblue;
    color: white;
    width: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

aside .account-menu ul li{
    padding: 3px 0;
}


.banner {
    height: 295px;
}

h3{
    border: 1px solid black;
    background-color: cadetblue;
    padding: 10px;
    margin-top: 10px;
}

/*Footer Nav*/
.footer-nav{
    background-color: #f2f2f2;
    border-top:1px solid;
}

.footer-nav > ul{
    overflow: hidden;
}
.footer-nav > ul > li{
    float: left;
    width:196px;
}

.footer-nav span{
    display: block;
    padding: 10px 0 10px 10px;
    background-color: #CCC;
    font-weight: bold;
    font-size: 14px;
    border-bottom:1px solid;
}

.footer-nav ul li:first-child span{
    border-left:1px solid;
}

.footer-nav ul li:last-child span{
    border-right:1px solid;
}

.footer-nav ol{
    padding:10px 0 10px 10px;
}

.footer-nav ol li{
    padding-bottom:5px;
}

.footer-nav ol li strong{
    display: block;
}

.footer-nav ol li a{
    color:#333;
}
.product-list ul{
    overflow: hidden;
}
.product-list ul li{
    border: 1px solid red;
    width: 183px;
    height: 232px;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 8px;
   float: left;
    margin-left: 3px;
}

.tags{
    padding: 15px 0px 4px 0px;
    color: #0000CC;
}

.big{
    font-size: 19px;
}

.banner{
    width: 562px;
    height: 210px;
    margin-bottom: 10px;
}



@media (min-width: 0) and (max-width: 479px);{

}

@media (min-width: 480px) and (max-width: 767px);{

}

@media (min-width: 768px) and (max-width: 979px);{

}
@media (min-width: 980px) and (max-width: 1199px);{

}

@media (min-width: 1200px){

}



